.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem 1rem 2rem;
  border-bottom: 1px solid #0b3c4c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(10, 31, 28, 0.7);
  backdrop-filter: blur(30px);
  z-index: 2;
  height: 80px;
  flex-wrap: nowrap;
  gap: 2rem;
}


.logoWrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.techs {
  font-weight: bold;
  color: #12F7D6;
  font-size: clamp(16px, 2vw, 20px);
  white-space: nowrap;
}

.name {
  color: #12F7D6;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  white-space: nowrap;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navmenu {
  display: flex;
  gap: clamp(1rem, 4vw, 2rem);
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.navlinks a {
  color: var(--branco);
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: clamp(14px, 2.2vw, 20px);
  position: relative;
  transition: color 0.3s ease;
}

.navlinks a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #12F7D6;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.navlinks a:hover {
  color: #00FFD1;
}

.navlinks a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialnav {
  display: flex;
}

.socialMenu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 6px;
}

.socialLinks a {
  font-size: clamp(1rem, 2.2vw, 1.2rem);
  transition: transform 0.3s ease, color 0.3s ease;
}

.socialIcons:hover {
  transform: scale(1.2);
  color: #12F7D6;
}

.languages {
  display: flex;
  gap: clamp(0.5rem, 2vw, 1rem);
}

@media (max-width: 900px) {
  .logoWrapper {
    display: none;
  }
}

@media (max-width: 680px) {
  .header {
    padding: 0.8rem 1rem;
    height: auto;
  }
}

@media (max-width: 468px) {
  .navlinks a {
    font-size: clamp(13px, 4vw, 17px);
  }

  .label {
    font-size: clamp(0.6rem, 2vw, 0.75rem);
  }
}

.languagesWrapper,
.socialWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.label {
  font-size: clamp(0.6rem, 1.5vw, 0.75rem);
  color: var(--branco);
  font-family: 'Ubuntu', sans-serif;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
}


@media (max-width: 568px) {
  .navbar {
    display: none;
  }

  .mobileMenu {
    display: block;
  }
}

@media (min-width: 769px) {
  .mobileMenu {
    display: none;
  }
}
