.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(10, 31, 28, 0.7);
    backdrop-filter: blur(10px);
    z-index: 2;
    transition: background 0.3s ease;
}

.logoWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.techs {
    display: inline-block;
    margin-right: 12px;
    text-align: center;
    font-weight: bold;
    color: #12F7D6;
    font-size: 20px;
    white-space: nowrap;
}

.name {
    color: #12F7D6;
    font-size: 20px;
    white-space: nowrap;
}

.navbar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navmenu {
    display: flex;
    gap: 2rem;
}

.navlinks {
    list-style: none;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    color: white;
}

.navlinks:hover {
    color: #12F7D6;
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.socialnav {
    margin-right: 1rem;
}

.socialMenu {
    display: flex;
    gap: 16px;
}

.socialMenu li {
    list-style: none;
}

.socialLinks a {
    display: flex;
    align-items: center;
}

.socialIcons {
    color: #12F7D6;
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
}

.socialIcons:hover {
    transform: scale(1.1);
}

.languages, .languages a {
    display: flex;
    gap: 16px;
    align-items: center;
}

.flags {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 255, 170, 0.3);
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.flags:hover {
    transform: scale(1.1);
}
@media (min-width: 300px) and (max-width: 900px) {
    
    .logoWrapper {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        padding: 0 1rem;
        gap: 2rem;
    }


    .navbar {
        width: 100%;
        justify-content: center;
    }

    .navmenu {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media (max-width: 483px) {
    .header {
        gap: 10px;
    }

    .navlinks {
        font-size: 15px;
    }

    .navmenu {
        flex-wrap: wrap;
        gap: 10px;
    }

    .socialIcons {
        width: 15px;
        height: 20px;
    }

    .techs,
    .name {
        font-size: 16px;
    }

    .flags {
        width: 18px;
        height: 18px;
    }
}