.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 3rem 1rem 2rem;
  border-bottom: 1px solid #0b3c4c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(10, 31, 28, 0.7);
  backdrop-filter: blur(10px);
  z-index: 2;
  transition: background 0.3s ease;
  background-color: var(--preto);
  height: 80px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.techs {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #12F7D6;
  font-size: 20px;
  white-space: nowrap;
}

.name {
  color: #12F7D6;
  font-size: 1.5rem;
  white-space: nowrap;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navmenu {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.navlinks a {
  color: var(--branco);
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.navlinks:hover {
  color: #12F7D6;
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.socialnav {
  display: flex;
}

.socialMenu {
  display: flex;
  gap: 1.2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socialLinks a {
  color: #66FCF1;
  font-size: 1.2rem;
}

.socialIcons {
  width: 25px;
  height: 25px;
  color: #66FCF1;
  transition: transform 0.2s ease;
}

.socialIcons:hover {
  transform: scale(1.1);
}

.languages {
  display: flex;
  gap: 1rem;
}

.flags {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 255, 170, 0.3);
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.flags:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .logoWrapper {
    display: none;
  }
}

@media (max-width: 680px) {
  .header {
    flex-direction: column;
    padding: 0.8rem 1rem;
    gap: 0.8rem;
    height: auto;
  }

  .navmenu {
    align-items: center;
    margin-top: 0.2rem;
  }

  .actions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.8rem;
  }

}

@media (max-width: 468px) {
  .title {
    text-align: center;
    margin-left: 0;
  }

  .navlinks a {
    font-size: 17px;
  }

  .socialIcons {
    width: 18px;
    height: 18px;
  }

  .flags {
    width: 18px;
    height: 18px;
  }
}
