/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
    font-family: 'IBM Plex Mono', sans-serif;
  } */
  
  .card {
    position: relative;
    background-color: linear-gradient(180deg, #0a1f1c 0%, #00090e 100%);
    color: white;
    padding: 1rem;
    border-radius: 30px 0 30px 30px;
    width: 300px;
    text-align: center;
    border: 5px solid transparent;
    background-clip: padding-box;
    height: 80%;

  }

  .cardNome {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400; /* Regular */
}


  .carrer {
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  .card::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(180deg, #0a1f1c 0%, #00090e 100%);
    border-radius: 40px 0 40px 40px;
    z-index: -1;
  }
  
  .profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    position: relative;
    border: 3px solid transparent;
    background: linear-gradient(180deg, rgba(0, 255, 255, 0.7), rgba(138, 43, 226, 0.5)) padding-box,
                linear-gradient(180deg, #7f00ff, #00ffff) border-box; 
    box-shadow: 0 0 12px rgba(127, 0, 255, 0.7), 0 0 20px rgb(0 255 255 / 23%);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profileImage:hover {
    transform: scale(1.1);
    box-shadow: 0 0 18px rgba(127, 0, 255, 1), 0 0 35px rgba(0, 255, 255, 0.8);
    animation: pulseNeon 1.5s infinite alternate;
}

@keyframes pulseNeon {
    from {
        box-shadow: 0 0 18px rgba(127, 0, 255, 0.8), 0 0 35px rgba(0, 255, 255, 0.6);
    }
    to {
        box-shadow: 0 0 22px rgba(127, 0, 255, 1), 0 0 40px rgba(0, 255, 255, 1);
    }
}
.skillsContainer {
  position: relative;
  padding: 10px;
  margin-top: 15px;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 255, 255, 0.1), rgba(127, 0, 255, 0.1));
  box-shadow: 0px 4px 15px rgba(127, 0, 255, 0.3), 0px 0px 10px rgba(0, 255, 255, 0.3);

  backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 255, 255, 0.3);
}

@keyframes infiniteScroll  {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.skillsWrapper {
    display: flex;
    gap: 40px;
    width: max-content;
    animation: infiniteScroll 25s linear infinite;
}

.skillIcon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.6));
}

  
  .downloadBtn {
    background-color: white;
    color: #23272a;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .downloadBtn:hover {
    background-color: linear-gradient(180deg, #0a1f1c 0%, #00090e 100%);
    color: white;
  }

ul .empresa {
  margin-left: 7px;
}

ul .empresa:hover {
  color: orange;
  transition: .5s;
  cursor: pointer;
}

  .card ul {
    list-style-type: none;
    text-align: left;
  }

  .card li {
    display: flex;
    align-items: center;
    list-style: none;
    /* gap: 10px; */
    font-size: 14px;
    margin-bottom: 15px;
  }

  .card li svg {
    margin-right: 7px;
  }