.div {
    padding: 10rem;
}

.lightTheme {
    color: black;
    background: #F7F7F7;
    height: 100vh;
}

.darkTheme {
    color: #F7F7F7;
    background: #1E1E1E;
}

.div h3 {
    text-align: center;
    margin-bottom: 18px;
}

.searchContent {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.input {
    height: 0rem;
}

.checkboxContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 10px 15rem;   
}

.checkboxContainer p {
    flex: 1; /* Para ocupar o espaço disponível */
    white-space: nowrap; /* Impede o texto de quebrar em várias linhas */
    overflow: hidden; /* Oculta o excesso de texto */
    text-overflow: ellipsis; /* Adiciona reticências (...) no final */
}

.buttonsEditDelete {
    display: flex;
    gap: 10px; 
    cursor: pointer;
    color: grey;
    margin-left: auto; 
}

.addButton {
    position: fixed;
    bottom: 20px;
    right: 240px; 
    cursor: pointer;
    color: #6C63FF;
    text-align: center; /* Centraliza o conteúdo dentro do botão */
    z-index: 1000; /* Garante que o botão fique acima de outros elementos, se necessário */
}


.closeAddButtons {
    display: flex;
    justify-content: space-between;
}

.modalTitle {
    color: black;
    text-align: center;
    margin-bottom: 1rem;
}

.modalTitleDarkTheme {
    color: #F7F7F7;
}

.riscado {
    text-decoration: line-through;
}

.buttonsEditDelete button {
    background: transparent;
    color: grey;
    border: none;
    cursor: pointer;
}

.buttonsEditDelete button:hover {
    color: #6C63FF;
}


@media (max-width: 868px) {
    .div {
        padding: 2rem;
    }

    .checkboxContainer {
        flex-direction: column;
        margin: 10px 1rem;
    }

    .customHr {
        width: 100%;
    }

    .addButton {
        top: 20px;
        left: 10px;      
        right: unset;
        bottom: unset;       
    }
}

@media (max-width: 480px) {
    .div {
        padding: 1rem;
    }

    .searchContent {
        gap: 8px;
    }

    .input {
        width: 100%;
    }

    .checkboxContainer {
        margin: 10px 0;
    }

    .addButton {
        margin: 5% auto 0 auto;
        text-align: center;
    }

    .buttonsEditDelete {
        flex-direction: column;
        align-items: center;
    }
}

.checkboxContainer .checkbox{
    color: #6C63FF
}

/* .buttonSaveEditModal {    
    background-color: #6C63FF;
    color: #F7F7F7;
} */

.buttonCloseModal {
    background-color: transparent;
    border: 1px solid #6C63FF;
    color: #6C63FF;

}

