.wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 7rem;
    min-height: 100vh;
  }
  

.lightTheme {
    color: black;
    background: #F7F7F7;
          
}

.darkTheme {
    color: #F7F7F7;
    background: #1E1E1E;
}

.wrapper h3 {
    text-align: center;
    margin-bottom: 18px;
}

.searchContent {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.input {
    height: 0rem;
}

.checkboxContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    max-width: 600px;
    width: 90%;
    border-bottom: 1px solid #333;
    
    box-sizing: border-box;
}

    .checkboxContainer p {
        flex: 1;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .checkboxContainer .checkbox{
        color: #6C63FF
    }



.buttonsEditDelete {
    display: flex;
    gap: 10px;
    color: grey;
    cursor: pointer;
    flex-shrink: 0;
}


.addButton {
    position: fixed;
    bottom: 20px;
    right: 240px; 
    cursor: pointer;
    color: #6C63FF;
    text-align: center;
    z-index: 1000;
}

.closeAddButtons {
    display: flex;
    justify-content: space-between;
}

.modalTitle {
    color: black;
    text-align: center;
    margin-bottom: 1rem;
}

.modalTitleDarkTheme {
    color: #F7F7F7;
}

.riscado {
    text-decoration: line-through;
}

.buttonsEditDelete button {
    background: transparent;
    color: grey;
    border: none;
    cursor: pointer;
}

.buttonsEditDelete button:hover {
    color: #6C63FF;
}


@media (max-width: 868px) {
    .wrapper {
        /* padding-left: 3rem;
        padding-right: 3rem; */
    }

    /* .checkboxContainer {
        flex-direction: column;
        margin: 10px 1rem;
    } */

    .customHr {
        width: 100%;
    }

    .addButton {
        top: 20px;
        left: 10px;      
        right: unset;
        bottom: unset;       
    }
}

@media (max-width: 480px) {  

    .addButton {
        margin: 5% auto 0 auto;
        text-align: center;
    }

    .buttonsEditDelete {
        align-items: center;
    }
}



.buttonCloseModal {
    background-color: transparent;
    border: 1px solid #6C63FF;
    color: #6C63FF;
}

