/* .terminalText {
    white-space: pre-wrap;
    font-family: 'Courier New', monospace;
    color: #fff;
  }
  
  .highlight {
    color: #00ff00;
    font-weight: bold;
  }
  
  .cursor {
    display: inline-block;
    width: 8px;
    background-color: #00ff00;
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% { opacity: 0; }
  }
   */