.container span {
    color: var(--verde-escuro);
    
}


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    /* margin: auto; */
    padding: 20px;
    margin-top: 1rem;
}

.mainContent {
  /* flex: 2; */
  display: flex;
  flex-direction: column;
}

.aside {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin: 0 3rem 0 4rem;
  padding: 1rem;
  /* margin-top: 4.5rem; */
}

  @media (min-width: 300px) and (max-width: 900px) {
    /* Estilos para tablets em modo retrato */
    .wrapper {
      flex-direction: column;
    }
  
    .aside {
      display: flex;
      justify-content: center;
    }
  }
  
  

.cardNome {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400; /* Regular */
}

.tittleTwo {
    margin-left: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400; /* Regular */

}


.title {
    margin-top: 4rem;
    /* margin-bottom: 54px; */
    color: var(--verde-claro);
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;

}

.texto {
    margin-left: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
}

.code {
    color: var(--verde-claro);
    font-size: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400; /* Regular */
}

.container .texto {
    color: #FFFFFF;
    margin-left: 1rem;
    font-size: 12px;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 20px;
}

.talk {
    display: flex;
    gap: 7px;
    align-items: center;
    color: var(--verde-escuro);
    font-size: 24px;
    margin-left: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: '500';

}

.codeTwo {
    color: var(--verde-claro);
    width: 60%;
    text-align: end;
    font-size: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400; /* Regular */
    /* margin-right: 8rem */

}

.nome {
    color: var(--verde-escuro);
}
























  





/* 
.title {
    margin-top: 54px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.body span {
    color: var(--verde-escuro);
}

.title h1 {
    color: var(--verde-claro);
    font-size: 80px;
    margin-bottom: 54px;
}

.content {
    display: flex;
    justify-content: center;
}

.codeBlock {
    margin-bottom: 20px;
}

.codeFirst, .codeSecondary {
    width: 35%;
    text-align: end;
    font-size: small;
    display: block;
}

.codeSecondary {
    width: 62%;
} */
