/* styles/page.module.css */
.page {
  min-height: 100svh; /* Define a altura mínima como 100% da viewport */
  padding: 0; /* Remover o padding inicial */
  margin: 0; /* Remover margens */
  display: flex;
  flex-direction: column;
  font-family: var(--font-geist-sans);
}

.main {
  flex: 1; /* Para fazer com que o main ocupe o espaço disponível */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.logo {
  width: 180px;
  height: 38px;
}
