.sectionContainer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  margin-bottom: 3rem;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border: 1px solid rgba(165, 108, 255, 0.2);
  box-shadow: 0 0 20px rgba(18, 247, 214, 0.1);
  border-radius: 24px;
  padding: 3rem 2rem;
  backdrop-filter: blur(8px);
  transition: all 0.4s ease-in-out;
}

.sectionWrapper:hover {
  box-shadow: 0 0 30px rgba(165, 108, 255, 0.4);
}

.quoteContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quoteAuthor {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #555;
  text-align: end;
}

.subline {
  font-size: 1.1rem;
  font-style: italic;
  color: #aaa;
  margin-top: 0.5rem;
  line-height: 1.5;
  max-width: 600px;
  text-align: center;
}

.textSection {
  width: 100%;
  flex: 1;
  text-align: center;
  color: var(--verde-escuro);
  font-family: 'Ubuntu', sans-serif;
  padding: 0 1rem;
}

.textSection h1 {
  font-size: 2.6rem;
  margin-bottom: 1.25rem;
  color: #a56cff;
  transition: transform 0.3s ease;
}

.textSection p {
  font-size: 1.15rem;
  line-height: 1.8;
  color: #98FAEC;
}

/* .carouselSection {
  width: 100%;
  flex: 1.5;
  max-width: 100%;
  padding: 0 1rem;
} */

/* @media (min-width: 860px) {
  .sectionWrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .textSection {
    text-align: left;
    padding-right: 2rem;
  }

  .carouselSection {
    max-width: 60%;
    padding-left: 2rem;
  }
} */
