.sectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin: 0 1rem 1rem 1rem;
    background-color: #0B0C10; /* Cor semelhante à imagem */
    border-radius: 10px;
  }
  
  .textSection {
    flex: 1;
    color: #66FCF1;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .textSection h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #A56CFF;
  }
  
  .textSection p {
    font-size: 1rem;
    line-height: 1.5;
    color: #C5C6C7;
  }
  
  .carouselSection {
    flex: 1.5;
    max-width: 60%;
  }
  