.carouselContainer {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.slide {
  padding: 1rem;
}

.card {
  border: 2px solid #A56CFF;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 1.5rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 300px; 
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* .card::before {
  content: "";
  position: absolute;
  top: 205px;  
  width: 100%;
  height: 30%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
} */

.avatar {
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  z-index: 1;
}

.descricao {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: flex-end;
  height: 100%;
  margin-top: 185px;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 7px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.role {
  font-size: 0.9rem;
  color: #f0f0f0;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 10px;
}

.slickNext,
.slickPrev {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.slickNext {
  right: -50px;
}

.slickPrev {
  left: -50px;
}

.slick-slide {
  padding: 0 10px;
}


.role {
  font-size: 0.9rem;
  color: #f0f0f0;
  position: relative;
  z-index: 2;
  text-align: justify;
  margin: 1rem 0;
}

.githubLink {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #66fcf1;
  text-decoration: none;
  margin-top: 0.5rem;
}

.githubLink:hover {
  text-decoration: underline;
}
