.about {
  padding: 4rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 5rem 0 3rem 0;
  flex-wrap: wrap;
}

.iconWrapper {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 20px rgba(138, 15, 102, 0.5);
}

.icon {
  font-size: 2rem;
  color: var(--verde-claro);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1.5rem;
}

.title {
  margin: 2rem 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  color: var(--verde-claro);
  text-align: center;
}

.code {
  color: var(--verde-claro);
  font-size: 12px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}

.texto {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: var(--cinza-claro);
  margin: 0 1rem;
}

.destaque {
  color: var(--verde-claro);
  font-weight: bold;
}

@media (max-width: 468px) {
  .title {
    text-align: center;
    margin-left: 0;
  } 
}