.about {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.logos {
  width: 100%;
  text-align: center;
  margin: 5rem 0 1rem 0;
}

.icon {
  margin: 0 10px;
  font-size: 24px;
  color: #66FCF1;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1.2rem;
}

.title {
  margin: 2rem 0;
  margin-left: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  color: var(--branco);
}

.code {
  color: var(--verde-claro);
  font-size: 12px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}

.texto {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: var(--cinza-claro);
}

.destaque {
  color: var(--verde-claro);
  font-weight: bold;
}

@media (max-width: 468px) {
  .title {
    text-align: center;
  }
}