

.about {
    padding: 2rem; 
    margin: 0 auto;
    max-width: 1200px;    
    
  }
  
  .section {
    margin-bottom: 2rem;
  }
  
  .element {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }

  .logos {
    width: 100%;
    text-align: center;    
    margin: 5rem 0 5rem 0;
  }

  .title {
    margin: 2rem 0;
    margin-left: 1rem;
    font-family: 'Ubuntu', sans-serif;
  }



  .texto {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 1rem;
    line-height: 20px;
    
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .code {
    color: var(--verde-claro);
    font-size: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}

.iconLine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.icon {
  margin: 0 10px;
  font-size: 24px; 
  color: #66FCF1;
}

@media (max-width: 468px) {
  .title {
    text-align: center;
  }
}


  